<header>
    <nav>
        <div class="logo">MyWebsite</div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#" id="loginBtn">Login</a></li>
            <li><a href="/register" id="registerBtn">Register</a></li>
        </ul>
    </nav>
</header>